{% extends 'base.html' %}

{% block title %}Iniciar Sesión - BookHub{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h2 class="card-title text-center mb-4">Iniciar Sesión</h2>
            <form action="{{ url_for('usuarios.login_registro') }}" method="POST">
                <input type="hidden" name="accion" value="login">

                <div class="mb-3">
                    <label class="form-label">Correo Electrónico:</label>
                    <input type="email" class="form-control" name="email" required>
                </div>

                <div class="mb-4">
                    <label class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" name="contrasena" required>
                </div>

                <button type="submit" class="btn btn-primary w-100">Ingresar</button>
            </form>
            <p class="text-center mt-3 mb-0">¿No tienes cuenta? <a
                    href="{{ url_for('usuarios.login_registro') }}">Regístrate aquí</a></p>
        </div>
    </div>
</div>
{% endblock %}